<h1>Listing news</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>Body</th>
    <th>Game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.title %></td>
    <td><%= news.summary %></td>
    <td><%= news.body %></td>
    <td><%= news.game %></td>
    <td><%= link_to 'Show', news %></td>
    <td><%= link_to 'Edit', edit_news_path(news) %></td>
    <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New News', new_news_path %>
