<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application", "forum-monster" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <a href="https://github.com/gitt/forum_monster"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>

    <div class="container">
      <%= content_tag :div, "This is just a demo, the database is reset every 24 hours.", :class => "demo_notice" %>
    </div>

    <div id="header">
      <div id="logo">
        <%= image_tag "rails.png" %>
        <h1>Forum Monster</h1>
        A Ruby on Rails Forum Gem
        <div class="clear"></div>
      </div>
      

    </div>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>

    <div id="info_box">
      <p>
        Total number of registered users: <strong><%= User.count %></strong><br />
      </p>
    </div>

  </body>
</html>